version: '3'

volumes:
  wp-volume:
    driver_opts:
      device: /home/${USER}/data/wordpress
      o: bind
      type: none
  mdb-volume:
    driver_opts:
      device: /home/${USER}/data/mariadb
      o: bind
      type: none

networks:
  inception:
    driver: bridge

services:
 wordpress:
   #  user: "gde-alme:docker"
  container_name: wordpress
  restart: always
  depends_on:
    - mariadb
  build:
    context: ./requirements/wordpress/
    args:
      - DB_NAME=$DB_NAME
      - DB_USER=$DB_USER
      - DB_PASS=$DB_PASS
  volumes:
    - wp-volume:/var/www/
  ports:
    - "9000:9000"
  networks:
    - inception

 mariadb:
   #user: "gde-alme:docker"
  container_name: mariadb
  restart: always
  build: 
   context: ./requirements/mariadb/
   args:
     - DB_NAME=${DB_NAME}
     - DB_USER=${DB_USER}
     - DB_PASS=${DB_PASS}
  volumes:
   - mdb-volume:/var/lib/mysql
  env_file:
   - .env
  ports:
   - "3306:3306"
  networks:
    - inception

 nginx:
   #user: "gde-alme:docker"
  container_name: nginx
  restart: always
  depends_on:
    - wordpress
  build:
   context: ./requirements/nginx/.
  volumes:
    - ./requirements/nginx/tools:/etc/nginx/ssl/
#    - ./public:/var/www/
    - wp-volume:/var/www/
  ports:
    - "443:443"
  networks:
    - inception
