version: '3'

volumes:
  wp-volume:
    driver: local
    driver_opts:
      device: /home/${USER}/data/wordpress
      o: bind
      type: none
  mdb-volume:
    driver: local
    driver_opts:
      device: /home/${USER}/data/mysql
      o: bind
      type: none

networks:
  inception:
    driver: bridge

services:
 wordpress:
  container_name: wordpress
  restart: always
  depends_on:
    - mariadb
  env_file:
    - .env
  build:
    context: ./requirements/wordpress/
    args:
      - SERVER_NAME=$SERVER_NAME
      - DB_NAME=$DB_NAME
      - DB_HOST=$DB_HOST
      - DB_USER=$DB_USER
      - DB_PASS=$DB_PASS
      - WP_ADMIN_USER=$WP_ADMIN_USER
      - WP_ADMIN_PASS=$WP_ADMIN_PASS
      - WP_ADMIN_MAIL=$WP_ADMIN_MAIL
      - WP_USER=$WP_USER
      - WP_PASS=$WP_PASS
      - WP_MAIL=$WP_MAIL
  volumes:
    - wp-volume:/var/www/
  networks:
    - inception

 mariadb:
  container_name: mariadb
  restart: always
  env_file:
   - .env
  build: 
   context: ./requirements/mariadb/
   args:
     - DB_NAME=$DB_NAME
     - DB_USER=$DB_USER
     - DB_PASS=$DB_PASS
  volumes:
   - mdb-volume:/var/lib/mysql
  networks:
    - inception

 nginx:
  container_name: nginx
  restart: always
  env_file:
   - .env
  depends_on:
    - wordpress
  build:
   context: ./requirements/nginx/.
   args:
     - SERVER_NAME=$SERVER_NAME
  volumes:
    - wp-volume:/var/www/
  ports:
    - "443:443"
  networks:
    - inception
